body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

div {
  width: 80vw;
  height: 40vh;
  border: 1px solid black;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

a {
  text-decoration: none;
  color: #272727;
  font-family: sans-serif;
  font-size: 25px;
  border: 5px solid #272727;
  padding: 10px 20px;
  margin: 10px 10px;

  display: flex;
  align-items: center;
  justify-content: center;
}
/* button 1 */
.btn1 {
  text-decoration: none;
  color: #272727;
  font-family: sans-serif;
  font-size: 25px;
  border: 5px solid #272727;
  padding: 10px 20px;
  position: relative;
  overflow: hidden;
}

.btn1:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background-color: #fff200;
  height: 100%;
  width: 100%;
  z-index: -1;
  transform-origin: center;
  transform: rotate(180deg);
  transition: transform 0.5s;
}

.btn1:hover:before {
  transform: rotate(0deg);
}

/* button 2 */

.btn2 {
  position: relative;
  border: 5px solid #351435;
  transition: all 1s;
  overflow: hidden;
}

.btn2:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #351435;

  z-index: -1;
  transform: translateX(100%);
  transition: all 1s;
}

.btn2:hover {
  color: white;
}

.btn2:hover:before {
  transform: translateX(0);
}

/* button 3 */

.btn3 {
  position: relative;
  border: 5px solid #262626;
  letter-spacing: 2px;
  transition: all 1s;
}

.btn3:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #262626;
  transition: 1s;
  z-index: -1;

  transform: rotateX(90deg);
}

.btn3:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #262626;
  transition: 1s;
  z-index: -1;

  transform: rotateY(90deg);
}

.btn3:hover {
  color: white;
}

.btn3:hover:before {
  transform: rotateX(0deg);
}

.btn3:hover:after {
  transform: rotateY(0deg);
}

/* button 4 */

.btn4 {
  position: relative;
  border: 3px solid #e1332d;
  letter-spacing: 2px;
  transition: all 0.5s;
  letter-spacing: 1px;
}

.btn4:hover {
  font-weight: 900;
  letter-spacing: 5px;
  border: 5px solid #e1332d;
  color: tomato;
}

/* button 5 */

.btn5 {
  position: relative;
  border: 3px solid #e1332d;
  letter-spacing: 2px;
  transition: all 0.5s;
  letter-spacing: 1px;
  overflow: hidden;
}

.btn5:after {
  content: "YEAH!";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #262626;
  color: white;
  transition: 0.6s;
  /* z-index: -1; */

  transform: translateY(-100%);

  display: flex;
  align-items: center;
  justify-content: center;
}

.btn5:hover:after {
  transform: translateY(0);
}

/* button 6 */
.btn6 {
  border: 3px solid #222;
  letter-spacing: 2px;
  transition: all 0.5s;

  position: relative;
  overflow: hidden;
}

.btn6:hover {
  background-color: #f44336;
}

.btn6:before {
  content: "";
  background-color: #fff;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  position: absolute;
  transform: translateX(-100%) rotate(45deg);
  transition: all 0.3s;
}

.btn6:hover:before {
  transform: translateX(100%) rotate(45deg);
}

/* button 7 */

.btn7 {
  border: 3px solid #222;
  background-color: #262626;
  color: transparent;
  letter-spacing: 2px;
  transition: all 0.5s;

  position: relative;
  overflow: hidden;
}

.btn7:before {
  content: "Smile!";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #fffa65;
  color: #262626;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
}

.btn7:after {
  content: "Smile!";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #fffa65;
  color: #262626;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;

  transform: translate(-100%, 100%);
}

.btn7:hover:before {
  transform: translate(100%, -100%);
}

.btn7:hover:after {
  transform: translate(0, 0);
}

/* button 8 */
.btn8 {
  border: 3px solid #222;
  background-color: #262626;
  color: white;
  letter-spacing: 2px;
  transition: all 0.5s;

  position: relative;
  overflow: hidden;
}

.btn8:before {
  content: "Super!";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #262626;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(5);
  opacity: 0;
  transition: all 0.5s;
}

.btn8:hover:before {
  transform: scale(1);
  opacity: 1;
}

/* button 9 */

.btn9 {
  position: relative;
  border: 3px solid #e1332d;
  color: tomato;
  letter-spacing: 2px;
  transition: all 0.5s;
  letter-spacing: 1px;
  /* text-transform: uppercase; */
  overflow: hidden;
}

.btn9:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: tomato;

  z-index: -1;

  border-radius: 0 0 50% 50%;
  transform: translateY(-100%);
  transition: all 0.5s;
  height: 0%;
}

.btn9:hover {
  color: white;
}

.btn9:hover:before {
  height: 190%;
  transform: translateY(0%);
  color: white;
}

/* button 10 */

.btn10 {
  position: relative;
  background-color: #fffa65;

  letter-spacing: 2px;
  transition: all 0.5s;
  letter-spacing: 1px;

  overflow: hidden;
}

.btn10:before {
  content: "Button";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: yellowgreen;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;

  transform: rotateX(270deg);
  transform-origin: top;
  transition: all 0.5s;
}

.btn10:hover:before {
  transform: rotateX(0deg);
}

.btn10:after {
  content: "Button";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: plum;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;

  transform: rotateX(200deg);
  transform-origin: bottom;
  transition: all 0.5s;
  transition-delay: 0.25s;
}

.btn10:hover:after {
  transform: rotateX(0deg);
}

/* button 11 */

.btn11 {
  position: relative;
  border: 5px solid #fffa65;
  background-color: lightgray;
  color: transparent;

  letter-spacing: 2px;
  transition: all 0.5s;
  letter-spacing: 1px;

  overflow: hidden;
}

.btn11:before {
  content: "Button";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #262626;
  color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 0.5s;
}

.btn11:hover:before {
  left: 100%;
  transform: scale(0) rotateY(360deg);
  opacity: 0;
}

.btn11:after {
  content: "Button";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #262626;
  color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 0.5s;

  transform: scale(0) rotateY(0deg);
  opacity: 0;
}

.btn11:hover:after {
  left: 0;
  transform: scale(1) rotateY(360deg);
  opacity: 1;
}

/* button 12 */

.btn12 {
  position: relative;
  background-color: transparent;
  color: #222;
  border: 0;

  letter-spacing: 2px;
  text-align: center;
  line-height: 80px;

  transition: all 0.5s;
  overflow: hidden;
}

.btn12:before,
.btn12:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 20px;
  height: 20px;
  background-color: #222;
  border-radius: 50%;

  transform: translateY(-50%);
  transition: all 0.3s;

  z-index: -1;
  opacity: 0;
}

.btn12:before {
  left: 0;

  box-shadow: 20px 0 0 #222;
}

.btn12:after {
  right: 0;
  box-shadow: -20px 0 0 #222;
}

.btn12:hover:before {
  left: 50%;
  box-shadow: 30px 0 0 #222;
  transform: translateX(-50%) translateY(-50%);

  opacity: 1;
}

.btn12:hover:after {
  right: 50%;
  box-shadow: -30px 0 0 #222;
  transform: translateX(50%) translateY(-50%);

  opacity: 1;
}

.btn12 > span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #222;
  border-radius: 8px;
  transform: scale(0);
  transition: all 0.3s;

  z-index: -1;
}

a:hover span {
  transform: scale(1);
  transition-delay: 0.4s;
}

a:hover {
  color: white;
}

/* button 13 */

.btn13 {
  text-transform: uppercase;
  background-color: transparent;
  color: white;
  border: none;
  grid-column: 1 / span 2;
  text-align: center;
  line-height: 60px;
  letter-spacing: 2px;
  font-weight: bold;

  position: relative;
  transition: all 0.2s;
}

.btn13:before {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  width: 100%;
  height: 100%;
  background-color: #20caff;
  z-index: -1;
  mix-blend-mode: color-burn;

  transition: all 0.2s;
  transform-origin: top;
}

.btn13:after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 100%;
  height: 100%;
  background-color: #ff7675;
  z-index: -1;
  mix-blend-mode: color-burn;

  transition: all 0.2s;
  transform-origin: bottom;
}

.btn13:hover:before {
  top: -6px;
  left: 0;
  transform: perspective(1000px) rotateX(75deg);
}

.btn13:hover:after {
  top: 6px;
  left: 0;
  transform: perspective(1000px) rotateX(-75deg);
}

.btn13:hover {
  color: #272727;
}
